h1 今Zaifトークンはいくら?
meta name="viewport" content="width=device-width,initial-scale=1"
p 今のZaifトークン価格は
p
  strong #{@zaiftoken_price}円です
small ビットコイン(#{@bitcoin_price}円)は高くて買えないという方に将来性があるZaifトークンがおすすめ。


p Zaifトークンの購入はZaifのみ!<br/>以下のバナーから3分で登録できます[:

a href="https://zaif.jp?ac=f1d79jpul7" rel="nofollow"
  img src="https://d2p8taqyjofgrq.cloudfront.net/images/affiliate/banner/zaif_D_300x250.png?ac=f1d79jpul7"
